<div id="mainBox">
    <div id="toolBar">
        <h2> Options</h2>
        <button mat-raised-button (click) ="reset()"><mat-icon>sync</mat-icon>Reset</button>
        <p></p>
        <p>Number of buildings
        <mat-slider aria-label="unit(s)" (change) ="reset()"></mat-slider>
        </p>
    </div>
    <canvas #myCanvas></canvas>
</div>

