#mainBox{
    display: flex;
    width:  100%;
    height: 100%;
    background-color: gray;
    align-items: center;
    flex-direction: row;
}

canvas{
    border: rgb(53, 53, 53) solid 3px;
    background-color: white;
    margin: auto;
}

#toolBar{
    margin: auto;
    display: flex;
    width: 20%;
    height: 95%;
    background-color: rgb(228, 228, 228);
    box-shadow: rgb(36, 36, 36);
    border: rgb(53, 53, 53) solid 3px;
    flex-direction: column;
    align-items: center;
}